<div class = "container">
<h1>Panier</h1>

<section class="section">
  <%= render 'item_carts/item_cart'%>
 <div class="column total has-text-right">
     <h4 class="title is-4">
       <span class="f5 has-text-grey">Total:</span> <%= number_to_currency(@cart.total_price) %>
     </h4>
   </div>
 <div class="columns">
   <div class="column">
     <%= button_to 'Vider le panier', @cart, method: :delete, data: { confirm: "Are you sure? " }, class: "btn btn-secondary" %>
   </div>
 </div>
</section>
<div class="keep-shopping pv1 mt4 has-text-right">
 <%= link_to 'Retourner aux produits', items_path, class: 'button is-warning' %>
</div>
</div>
