<div class= "container mt-3">
  <div class= "row">

  <img src="<%= @item.image_url %>" class="card-img-top rounded mr-3" alt="..."  style = "width: 40%">
  <div style = "width: 50%">
  <h1 class = "text-center"><%= @item.title%></h1>
  <p class = "text-muted"><%= @item.description%></p>
  <p class = "text-muted"><%= @item.price%> €</p>
  <button class = "btn btn-primary">Ajouter au panier</button>
  </div>
  </div>
</div>