
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cat's Eyes</title>
  </head>

  <body>
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 " style = "color: white">Cats Eyes</h1>
    <p class="lead">La plateforme numero 1 sur les plus beaux des felins</p>
  </div>
</div>
    <%= render 'items'%>

  </body>

</html>
